body{
  font-family: Ubuntu;
}

/* titale */

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1{
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bolder;
}

.container-fluid{
    padding: 3% 15%;
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2rem;
  font-weight: bold;
}
.nav-item{
  padding: 0px 18px; 
}

.navbar{
  padding: 0 0 4.5rem;
}

.nav-link{
  font-size: 1.2rem;
  font-family: Ubuntu;
}

.biku-button{
  margin: 5% 3% 5% 0;
}

.biku-image{
  width: 60%;
  transform: rotate(25deg);
}

/* features */

#features{
  padding: 7% 15%;
}

.Feature-box{
  text-align: center;
  padding: 5%;
}

h3{
  font-family: Source Sans Pro;
  font-size: 2rem;
  font-weight: bold;
}

p{
  color: #8f8f8f;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/* testimonials */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

h2{
  font-family: Source Sans Pro;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
}

.testimonials-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press  */

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.image-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}

/* Pricing */

#pricing{
  padding: 100px;
  text-align: center;
}

.col-pricing{
  padding: 3% 2%;
}

/* .card{
  margin: 10%;
} */

@media (max-width: 1020px) {
  #title{
    text-align: center;
  }

  .biku-image{
    transform: rotate(0);
  }
}


/* Call to Action */

#cta{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}


/* Footer */

#footer{
  padding: 7% 15%;
  text-align: center;
}

.footer-icon{
  font-size: 2.5rem;
  margin: 20px 10px 30px 10px;
}

h4{
  margin: 30px 10px;
  font-family: Source Sans Pro;
}

.biku-text{
  text-decoration: none;
  color: #ff4c68;
}
.biku-text:hover{
  color:#ef8172;
}